
@model IList<trab_crud.Models.DB.Contato>

@{
    ViewData["Title"] = "Tabelas";
}

<table class="table">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (trab_crud.Models.DB.Contato contato in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelContato => contato.Id)</td>
                <td>@Html.DisplayFor(modelContato => contato.Nome)</td>
                <td>@Html.DisplayFor(modelContato => contato.Email)</td>
                <td>@Html.DisplayFor(modelContato => contato.Telefone)</td>
            </tr>     
        }
    </tbody>
</table>