
@model IList<trab_crud.Models.DB.Carro>

@{
    ViewData["Title"] = "Tabelas";
}

<table class="table">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (trab_crud.Models.DB.Carro carro in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelCarro => carro.Id)</td>
                <td>@Html.DisplayFor(modelCarro => carro.Marca)</td>
                <td>@Html.DisplayFor(modelCarro => carro.Modelo)</td>
                <td>@Html.DisplayFor(modelCarro => carro.AnoLancamento)</td>
                <td>@Html.DisplayFor(modelCarro => carro.AnoMontagem)</td>
                <td>@Html.DisplayFor(modelCarro => carro.Chassis)</td>
            </tr>     
        }
    </tbody>
</table>