
@model IList<trab_crud.Models.DB.Produto>

@{
    ViewData["Title"] = "Tabelas";
}

<table class="table">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (trab_crud.Models.DB.Produto Produto in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelProduto => Produto.Id)</td>
                <td>@Html.DisplayFor(modelProduto => Produto.Nome)</td>
                <td>@Html.DisplayFor(modelProduto => Produto.Valor)</td>
                <td>@Html.DisplayFor(modelProduto => Produto.Estoque)</td>
            </tr>     
        }
    </tbody>
</table>